# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local
.env
public
app/_test.php
app/_env.php
app/config/database.php
app/crud/uploads/*
!app/crud/uploads/australia.jpg
!app/crud/uploads/azerbaijan.jpg
!app/crud/uploads/belarus.jpg
!app/crud/uploads/belgium.jpg
!app/crud/uploads/benelux.jpg
!app/crud/uploads/brazil.jpg
!app/crud/uploads/ethiopia.jpg
!app/crud/uploads/fiji.jpg
!app/crud/uploads/finland.jpg
!app/crud/uploads/japan.jpg
!app/crud/uploads/kenya.jpg
!app/crud/uploads/korea.jpg
!app/crud/uploads/malaysia.jpg
!app/crud/uploads/myanmar.jpg
!app/crud/uploads/new-zealand.jpg
!app/crud/uploads/philippines.jpg
!app/crud/uploads/portugal.jpg
!app/crud/uploads/russia.jpg
!app/crud/uploads/samoa.jpg
!app/crud/uploads/siberia.jpg
!app/crud/uploads/solomon-island.jpg
!app/crud/uploads/south-africa.jpg
!app/crud/uploads/taiwan.jpg
!app/crud/uploads/thailand.jpg
!app/crud/uploads/tonga.jpg
!app/crud/uploads/zambia.jpg
!app/crud/uploads/no-avatar.jpg
!app/crud/dist
/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
