RewriteEngine On
RewriteBase /sportsfest-litmusda/

# Exclude assets from rewrite rule
RewriteCond %{REQUEST_URI} !\.(css|js|svg|jpg|jpeg|png|gif|woff2)$ [NC]

# Redirect all requests to index.html
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /sportsfest-litmusda/public/index.html [L]

# Exclude the public and app directories from the rewrite rule
RewriteCond %{REQUEST_URI} !^/sportsfest-litmusda/public/
RewriteCond %{REQUEST_URI} !^/sportsfest-litmusda/php/
RewriteRule ^(.*)$ /sportsfest-litmusda/public/$1 [L]

