*{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  body{
    background: rgb(226, 226, 226);
  }
  nav{
    position: sticky;
    top: 0;
    bottom: 0;
    height: 100vh;
    left: 0;
    width: 90px;
    /* width: 280px; */
    background: #fff;
    overflow: hidden;
    transition: 1s;
  }
  nav:hover{
    width: 280px;
    transition: 1s;
  }
  .logo{
    text-align: center;
    display: flex;
    margin: 10px 0 0 10px;
    padding-bottom: 3rem;
  }
  .logo img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
  }
  a{
    position: relative;
    width: 280px;
    font-size: 14px;
    color: rgb(85, 83, 83);
    display: table;
    padding: 10px;
  }
  nav .fas{
    position: relative;
    width: 70px;
    height: 40px;
    top: 20px;
    font-size: 20px;
    text-align: center;
  }
  .nav-item{
    position: relative;
    top: 12px;
    margin-left: 10px;
  }
  a:hover{
    background: #eee;
  }
  a:hover i{
    color: #000;
    transition: 0.5s;
  }
  
  .container{
    display: flex;
  }
  
  /* home section  */
  
  