*{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  body{
    background: rgb(226, 226, 226);
  }
  nav{
    position: sticky;
    top: 0;
    bottom: 0;
    height: 100vh;
    left: 0;
    width: 90px;
    /* width: 280px; */
    background: #fff;
    overflow: hidden;
    transition: 1s;
  }
  nav:hover{
    width: 280px;
    transition: 1s;
  }
  .logo{
    text-align: center;
    display: flex;
    margin: 10px 0 0 10px;
    padding-bottom: 3rem;
  }
  .logo img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
  }
  .logo span{
    font-weight: bold;
    padding-left: 13px;
    font-size: 11px;
    text-transform: uppercase;
  }
  a{
    position: relative;
    width: 280px;
    font-size: 14px;
    color: rgb(85, 83, 83);
    display: table;
    padding: 10px;
  }
  nav .fas{
    position: relative;
    width: 70px;
    height: 40px;
    top: 20px;
    font-size: 20px;
    text-align: center;
  }
  .nav-item{
    position: relative;
    top: 12px;
    margin-left: 10px;
  }
  a:hover{
    background: #eee;
  }
  a:hover i{
    color: #000;
    transition: 0.5s;
  }
  
  .container{
    display: flex;
  }
  
/* home section styling */
.home{
  height: 100vh;
  width: 100%;
  background: url("Images/background.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: 'Ubuntu', sans-serif;
}
.home .home-content{
  width: 90%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.home .text-one{
  font-size: 95px;
  color: #0E2431;
  margin-left: 100px;
}
.home .text-two{
  color: #FF0000;
  font-size: 50px;
  font-weight: 600;
  margin-left: 100px;
}

  