@media print {
    .v-app-bar,
    .v-navigation-drawer {
        display: none !important;
    }

    .v-main {
        --v-layout-top: 0 !important;
        --v-layout-left: 0 !important;
    }

    .v-btn.unlock {
        display: none !important;
    }

    th, td {
        background: white !important;
    }

    .online-status {
        display: none !important;
    }
}